@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 248, 250, 252;
    --color-text-base: 40, 39, 40;
    --color-accent: 0, 108, 172;
  }
  html[data-theme="dark"] {
    --color-fill: 33, 39, 55;
    --color-text-base: 234, 237, 243;
    --color-accent: 255, 107, 1;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-mono text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .content {
    @apply mx-auto max-w-3xl px-4 pb-16 sm:px-6 lg:px-8;
  }
  .remark {
    @apply text-sm text-indigo-400 text-base leading-7 ml-0 sm:-ml-3;
    font-family: avenir next,avenir,sans-serif;
    position: relative;
  }
  .remark::after {
    background-color: #a8acf9;
    bottom: 0;
    content: " ";
    display: block;
    height: 50%;
    left: -3px;
    top: 10px;
    opacity: .5;
    position: absolute;
    transition: all .15s ease-in-out;
    width: 6px;
    z-index: -1;
  }
  .remark:hover::after {
    left: -3px;
    width: 30%;
    opacity: .5;
  }
}
