---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { getCollection,  } from "astro:content";
import type { CollectionEntry } from "astro:content";

const posts = await getCollection("blog");

const getSortedPosts = (posts: CollectionEntry<"blog">[]) => {
  return posts
    .sort(
      (a, b) =>
        Math.floor(
          new Date(b.data.modDatetime ?? b.data.pubDatetime).getTime() / 1000
        ) -
        Math.floor(
          new Date(a.data.modDatetime ?? a.data.pubDatetime).getTime() / 1000
        )
    );
};

const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout title="DQfort's blog">
  <Header />
  <main class="pt-10">
    <section id="hero">
      <h2>Hello!</h2>

      <p class="mt-4 text-base leading-7 text-slate-600 font-inter">
        This is my blog for talking about technologies, includes frontend, mobile, backend and AI development.
        I hope that it is helpful for you.
      </p>

      <div class="relative rounded-xl overflow-auto p-6">
        <div class="overflow-visible relative max-w-sm bg-white shadow-lg ring-1 ring-black/5 rounded-xl flex items-center gap-6 dark:bg-slate-800 dark:highlight-white/5">
          <img class="absolute -left-6 w-12 h-12 rounded-full shadow-lg" src="/avatar.gif">
          <div class="flex flex-col py-2 pl-12">
            <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Eric</strong>
            <span class="text-slate-500 text-sm font-medium dark:text-slate-400">Full stack developer</span>
          </div>
        </div>
      </div>

    </section>

    <hr/>

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) => {
                const date = data.pubDatetime.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                });

                if (index < 4) {
                  return (
                    <li class="my-6">
                      <a
                        href={`/posts/${slug}/`}
                        class="underline inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
                      >
                        <h3 class="text-sky-500 dark:text-sky-400">{data.title}</h3>
                      </a>
                      <time class="whitespace-nowrap text-sm leading-6 dark:text-slate-400">{date}</time>
                      <p class="">{data.description}</p>
                    </li>
                  )
                }
              }
            )}
          </ul>
        </section>
      )
    }
  </main>
  <Footer/>
</Layout>

<style>
  section, hr {
    @apply mx-auto max-w-3xl px-4 pb-16 sm:px-6 lg:px-8;
    /* mx-auto max-w-container px-4 pb-16 sm:px-6 lg:px-8 */
  }

  #recent-posts h2 {
    /* @apply text-2xl font-semibold tracking-wide; */
  }
</style>
