---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { getCollection,  } from "astro:content";
import type { CollectionEntry } from "astro:content";

const posts = await getCollection("blog");

const getSortedPosts = (posts: CollectionEntry<"blog">[]) => {
  return posts
    .sort(
      (a, b) =>
        Math.floor(
          new Date(b.data.modDatetime ?? b.data.pubDatetime).getTime() / 1000
        ) -
        Math.floor(
          new Date(a.data.modDatetime ?? a.data.pubDatetime).getTime() / 1000
        )
    );
};

const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout title="DQfort's blog">
  <Header />
  <main class="pt-10">
    <section id="hero">
      <h2>Hello!</h2>

      <p class="mt-4 text-base leading-7 text-slate-600 font-inter">
        This is my blog for talking about technologies, includes frontend, mobile, backend and AI development.
        I hope that it is helpful for you.
      </p>

    </section>

    <hr/>

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) => {
                const date = data.pubDatetime.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                });

                if (index < 4) {
                  return (
                    <li class="my-6">
                      <a
                        href={`/posts/${slug}/`}
                        class="underline inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
                      >
                        <h3 class="text-sky-500 dark:text-sky-400">{data.title}</h3>
                      </a>
                      <time class="whitespace-nowrap text-sm leading-6 dark:text-slate-400">{date}</time>
                      <p class="">{data.description}</p>
                    </li>
                  )
                }
              }
            )}
          </ul>
        </section>
      )
    }
  </main>
  <Footer/>
</Layout>

<style>
  section, hr {
    @apply mx-auto max-w-3xl px-4 pb-16 sm:px-6 lg:px-8;
    /* mx-auto max-w-container px-4 pb-16 sm:px-6 lg:px-8 */
  }

  #recent-posts h2 {
    /* @apply text-2xl font-semibold tracking-wide; */
  }


  h2 {
    @apply text-sm text-indigo-400 text-base leading-7 ml-0 sm:-ml-3;
    font-family: avenir next,avenir,sans-serif;
    position: relative;
  }
  h2::after {
    background-color: #a8acf9;
    bottom: 0;
    content: " ";
    display: block;
    height: 50%;
    left: -3px;
    top: 10px;
    opacity: .5;
    position: absolute;
    transition: all .15s ease-in-out;
    width: 6px;
    z-index: -1;
  }
  h2:hover::after {
    left: -3px;
    width: 30%;
    opacity: .5;
  }
</style>
