---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  tags,
  pubDatetime
} = post.data;

const date = pubDatetime.toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

const { Content } = await post.render();

// Hack: fix for react css cannot be loaded in posts for production
import '../components/App.css';
---

<Layout title=`${title}`>
  <Fragment slot="head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
  </Fragment>
  <Header />
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <time class="whitespace-nowrap text-sm leading-6 dark:text-slate-400">{date}</time>
    <ul>
      {tags.map((tag: string) => <Tag tag={tag} />)}
    </ul>

    <article id="article" role="article" class="prose dark:prose-invert mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12 overflow-x-auto pt-10;
  }
  .post-title {
    @apply text-2xl text-skin-accent;
  }
</style>

